/*@font-face { font-family: 'Roboto-Black'; src: url('./fonts/Roboto/Roboto-Black.ttf'); }*/

*:not(i) {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #ddd;

}

svg {
    width: 100%;
    height: auto;
    margin: 6em 0;
}

.page {
    position: relative;
    max-width: 52.5em;
    height: 74.25em;
    margin: 0 auto;
    box-shadow: 3px 3px 13px #aaa;
    background-color: white;
}

.content {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

/* ALL id's that need to be fat */

#vorname,
#name,
#nachname,
#erste,
#zweite,
#dritte,
#vierte,
#l-erste,
#l-zweite,
#l-dritte,
#l-vierte,
#job {
    font-family: 'Roboto' !important;
    font-weight: 900 !important;
}

/* ALL id's that need to be thin */
#location,
#tel,
#funktion,
#master,
#semester {
    font-family: 'Roboto Slab' !important;
    font-weight: 300; !important;
    color: white;
}

/* All id's that need fontawesome */
#icon {
    font-family: 'font-awesome';
}

a {
    text-decoration: none;
    color: black;
    opacity: 1;
}

.tutorial {
    padding: 3em 1em;
}
