*:not(i) {
    margin: 0;
    padding: 0;
    font-family:"PT Mono", Gadget, sans-serif;
}

body {
    background-color: #ddd;

}
nav {
    display: block;
    max-width: 840px;
    margin: 0 auto;
    text-decoration: none;
    text-indent: 0;
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

nav li{
    display: inline-block;
    font-weight: bold;
    padding: 1em 0 0.5em;
}
nav .active {
    border-bottom: 3px solid #881A51;
}
svg {
    width: 100%;
    height: auto;
    margin: 5em 0;
}




h1 {
    margin-left: 0.5em;
    padding-top: 0.5em;
    font-weight: 200;
}
p {
    margin-left: 1em;
}

i {
    width: 25px;
    height: 25px;
    cursor: pointer;

}
a,i {
    display: inline-block;
    width: 1.2em;
    color: black;
}
span {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.33em;
    border-radius: 50%;
    cursor: pointer;
    background-color: pink;
}
span:nth-child(1) {background-color: #005798; margin-left: 0.5em;}
span:nth-child(2) {background-color: #1E5F30;}
span:nth-child(3) {background-color: #881A51;}
span:nth-child(4) {background-color: #4B2D87;}

.page {
    position: relative;
    max-width: 52.5em;
    height: 74.25em;
    margin: 0 auto;
    box-shadow: 3px 3px 13px #aaa;
    background-color: white;
}
.instructions {
    position: absolute;
    z-index: 1;
    top: o;
    padding: 5px;
}
.content {
    width: 70%;
    height: auto;
    margin: 0 auto;
}
