nav,
menu, ul{
    background-color: #eee;
    cursor: pointer;
    font-family:"PT Mono", Gadget, sans-serif !important;
    position: absolute;
    width: 15em;
}

ul {
    width: fit-content;
}

li {
    padding: 0.3em 0.5em;
    border: 1px solid white;
    border-top: none;
    white-space: nowrap;
}

.color {
    color: white;
    width: 20em;
}

.ui-state-focus {
    background-color: #aaa;
    /*color: black;*/
}


/*.tempaltes {
    width: 15em;
    background-color: pink;
}*/
